.wrap {
    width: $wrap-size;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.btn {
    text-align: center;
    display: inline-block;
    min-width: 128px;
    color: #fff;
    line-height: 1.4em;
    border-radius: 50px;
    padding: 8px;
    transition: ease .2s;

    &:hover {
        color: #fff;
    }
}

.btn-primary {
    background-color: #FF5D50;

    &:hover {
        background-color: $primary-color;
    }
}

.btn-info {
    font-size: 18px;
    min-width: 136px;
    padding: 12px;
    background-color: $primary-color;

    &:hover {
        background-color: #f6cb52;
    }
}

.btn-outline-info {
    color: $primary-color;
    font-size: 18px;
    border: 1px solid $primary-color;
    min-width: 130px;
    &:hover {
        color: #fff;
        background-color: $primary-color;
    }
}

main {
    padding: 50px 0;

    @include mobile-xl {
        padding: 30px 0;
    }
}

.text-center {
    text-align: center;
}


//--------------------------------------------- Banner
.banner {
    padding-top: 88px;
    padding-bottom: 116px;
    position: relative;
    overflow: hidden;

    @include mobile-xl {
        padding-top: 104px;
        padding-bottom: 38px;
    }

    >.wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        @include mobile-xl {
            display: block;
        }
    }
}

.banner-text {

    h1 {
        font-size: 48px;
        font-weight: bold;
        line-height: 1.45em;

        @include mobile-xl {
            font-size: 32px;
            line-height: 1.43em;
        }

        span {
            display: block;
            font-size: 18px;
            color: $primary-color;
            line-height: 1.44em;

            @include mobile-xl {
                font-size: 16px;
                line-height: 1.5em;
            }
        }
    }

    h3 {
        font-size: 20px;
        padding-top: 10px;
        font-weight: normal;

        @include mobile-xl {
            font-size: 18px;
            font-size: 16px;
            line-height: 1.5em;
            padding-top: 16px;
        }
    }
}

