$main-color: #221E1F !default;    //主內容色


$primary-color: #56C4C5 !default;
$link-color: #00bfc2 !default;
$text-size: 16px;
$title-size: 32px;
$sub-title-size: 24px;

$default-font-family: 'Noto Sans TC', sans-serif, "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
